<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="display: flex; justify-content: flex-end;">
    <form th:action="@{/logout}" method="get">
        <input type="submit" value="Logout" class="btn btn-danger" />
    </form>
</div>
<div th:switch="${allUsersExceptAdmins.size() == 0}">
    <h2 th:case="true">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Age</th>
                <th>Roles</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${allUsersExceptAdmins}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.roles}"></td>

                <td><form th:action="@{/admin/edituser}" method="get">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <input type="submit" value="Edit" class="btn btn-danger" />
                </form></td>
                <td><form th:action="@{/admin/delete}" method="post">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<div th:switch="${onlyAdmins.size() == 0}">
    <h2 th:case="true">No admins yet!</h2>
    <div th:case="*">
        <h2>Admins</h2>
        <table>
            <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
                <th>Age</th>
                <th>Roles</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${onlyAdmins}">
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.age}"></td>
                <td th:text="${user.roles}"></td>
                <td><form th:action="@{/admin/edituser}" method="get">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <input type="submit" value="Edit" class="btn btn-danger" />
                </form></td>
                <td><form th:action="@{/admin/delete}" method="post" style="display: inline-block;">
                    <input type="hidden" name="id" th:value="${user.id}" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
                    <span th:if="${deleteErrorUserId == user.id}" style="color: red;">
            You can't delete yourself
        </span>
                </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>


<p><a th:href="@{/admin/adduser}">Add a new user</a></p>

</body>
</html>