<div th:fragment="usersAndAdmins">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${usersAndAdmins}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.age}"></td>
            <td>
                <button class="btn btn-warning" onclick="openEditModal('/admin/edituser?id=' + [[${user.id}]])">
                    Edit
                </button>
            </td>
            <td>
                <button class="btn btn-danger" onclick="openEditModal('/admin/delete?id=' + [[${user.id}]])">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
